---
layout: page
# Show education timeline
---

{% include lang.html %}

<div id="archives" class="pl-xl-2">

  <span class="lead">2022</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">Current</span>
        <span class="date month small text-muted">.</span>
        <a href="">UFBA - Master's in Mechatronics</a>
      </div>
    </li>
  </ul>
  
  <span class="lead">2021</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">25</span>
        <span class="date month small text-muted">Dec</span>
        <a href="">Área 1 - Graduation in control and automation engineering</a>
      </div>
    </li>
  </ul>

  <span class="lead">2015</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">25</span>
        <span class="date month small text-muted">Dec</span>
        <a href="">Vitor Soares - High School</a>
      </div>
    </li>
  </ul>

</div>


  <h2 class="category">{{"Certificates"}}</h2>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
  <div id="archives" class="pl-xl-2">

    <span class="lead">2020</span>
    <ul class="list-unstyled">
      <li>
        <div>
          <span class="date day">18</span>
          <span class="date month small text-muted">Nov</span>
          <a href="https://www.coursera.org/account/accomplishments/certificate/UZXLV3MFH2JZ">Coursera - Introduction to Self-Driving Cars</a>
        </div>
      </li>
    </ul>
    
    <span class="lead">2018</span>
    <ul class="list-unstyled">
      <li>
        <div>
          <span class="date day">08</span>
          <span class="date month small text-muted">Jul</span>
          <a href="https://www.robocore.net/GeraPDF/certificado.php?id=26508">RoboCore Tecnologia - Winter Challenge 14ª Edição</a>
        </div>
      </li>
    </ul>
  
    <span class="lead">2017</span>
    <ul class="list-unstyled">
      <li>
        <div>
          <span class="date day">11</span>
          <span class="date month small text-muted">Jul</span>
          <a href="https://www.robocore.net/GeraPDF/certificado.php?id=21289">RoboCore Tecnologia - Winter Challenge 13ª Edição</a>
        </div>
      </li>
    </ul>
  
  </div>
