---
layout: page
# Show education timeline
---

{% include lang.html %}

<div id="archives" class="pl-xl-2">

  <span class="lead">2022</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">Current</span>
        <span class="date month small text-muted">.</span>
        <a href="">UFBA - Master's in Mechatronics</a>
      </div>
    </li>
  </ul>
  
  <span class="lead">2021</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">25</span>
        <span class="date month small text-muted">Dec</span>
        <a href="">Área 1 - Graduation in control and automation engineering</a>
      </div>
    </li>
  </ul>

  <span class="lead">2015</span>
  <ul class="list-unstyled">
    <li>
      <div>
        <span class="date day">25</span>
        <span class="date month small text-muted">Dec</span>
        <a href="">Vitor Soares - High School</a>
      </div>
    </li>
  </ul>

</div>
